# Apache Spark Configuration
SPARK_MASTER_HOST=0.0.0.0
SPARK_MASTER_PORT=7077
SPARK_MASTER_WEBUI_PORT=8080

# Worker Configuration
SPARK_WORKER_CORES=1
SPARK_WORKER_MEMORY=8g
SPARK_WORKER_WEBUI_PORT=8081

# Security (optional)
SPARK_NO_DAEMONIZE=true